<div class="single-product-details-container content">
    <div class="product-details-title">
        <ul class="flex unlisted">
            <li><a routerLink="description" routerLinkActive="active">Description</a></li>
            <li><a routerLink="additional-info" routerLinkActive="active">Additional</a></li>
            <li><a routerLink="vendor-info" routerLinkActive="active">Vendor</a></li>
            <li><a routerLink="reviews" routerLinkActive="active">Reviews</a></li>
        </ul>
    </div>
    <div class="product-details-infos">
       <router-outlet (activate)="handleChangeDetails($event)"></router-outlet>
    </div>
</div>
