<div class="product-item">
  <div class="product-image" routerLink="['product','product?._id']">
    <img [src]="product ? product.imageUrl[0]: ''" [alt]="product?.name">
  </div>
  <div class="product-details">
    <div class="product-name">
      <h2>{{product?.name?.substring(0,40)}}{{ product && product.name[41] ? "..." : null}}</h2>
    </div>
    <div class="product-price">
      <h3>£ {{(product?.sold_price || 0)/100}}</h3>
      <del>
        <h3>£ {{(product?.regular_price || 0)/100}}</h3>
      </del>
    </div>
    <div class="product-action-button flex gap-5 jcc">
      <button class="btn" (click)="handleClickProduct(product)">Quick view</button>
    </div>
  </div>
</div>