
<div class="product-list">
    <app-loading *ngIf="isloading"></app-loading>
        <app-product-item 
        *ngFor="let product of products" 
        [product]="product"
        (deleteProductItem)="handleDeleteProduct($event)"
        (displayProductViewModal)="handleDisplayProductViewModal($event)">
        </app-product-item>
        
    <div class="bar" *ngIf="!isloading && !products.length">
        Désolé, aucun article n'est disponible pour le moment
     </div>
       <app-modal-product-view 
       *ngIf="isDisplayModal && modalProduct"
       [product]="modalProduct"
       (close)="handleCloseModal()"
       >
    </app-modal-product-view>
    
</div>>
