.single-product{
    margin-bottom: 20px;
    margin-top: 20px;
}

.single-product img{
    cursor: pointer;
}

.single-product .btn{
    height: 45px;
}

.single-product img.current{
    border: 5px solid #3f51b5;
}
.single-product .single-product-image{
    justify-content: flex-end;
}

.single-product .single-product-image-current img{
    width: 100%;
    height: 100%;
}

.single-product-details h2{
    font-size: 2rem;
    line-height: 40px;
    margin: 0;
}

.single-product-details .single-product-details-price del h4{
  font-size: 2.3rem;
  color: #3f51b5;
}

.single-product-details .single-product-details-price> h4{
  font-size: 3.5rem;
  color: #3f51b5;
}

@media screen and (max-width: 900px) {
    .single-product{
        flex-direction: column-reverse;
    }
    .single-product .single-product-image{
        justify-content: flex-end;
    }
}

@media screen and (max-width: 450px){
    .single-product .single-product-image img{
        width: 95%;
    }
}