<app-loading *ngIf="isloading"></app-loading>
<div *ngIf="!isloading" class="single-product flex content gab-10 ">
    <div class="single-product-image flex-1 gap-10 flex">
        <div class="single-product-image-list flex column gap-10">
            <img 
            *ngFor="let url of product?.imageUrl"
            width="100"
            [src]="url" [alt]="product?.name"
            (click)="handleChangeCurrentImage(url)"
            (mouseover)="handleChangeCurrentImage(url)"
            [ngClass]="{current: currentImage == url}
            ">
        </div>
        <div class="single-product-image-current flex-3">
            <img [src]="currentImage" [alt]="product?.name">
        </div>
    </div>
    <div class="single-product-detail flex-1">
        <h2>{{product?.name}}</h2>
        <div class="single-product-details-price flex aic gap-10">
            <h4>{{(product?.sold_price || 0)/100 | currency:"EUR" }}</h4>
            <del>
                <h4>{{(product?.regular_price || 0)/100 | currency:"EUR"}}</h4>
            </del>
            <h4>{{product? ((product.regular_price/100 - product.sold_price/100)/(product.regular_price/100) | percent) : null}}</h4>
        </div>
        <div class="product-action-button flex column">
            <button class="btn btn-main flex-1">Pay now</button>
            <button class="btn btn-main flex-1">Add to Cart</button>
            <app-payment-card [fullWidth]="true"></app-payment-card>
        </div>
        <div class="single-product-details-created-at tc">
            Créer le {{product?.created_at | date:"dd/MM/YYYY"}}
        </div>
    </div>
</div>
<app-product-details *ngIf="!isloading" [product]="product"></app-product-details>