<div class="modal-product-view">
    <div class="overlay"></div>
    <div class="modal-product-view-container flex">
        <div class="modal-product-view-image flex-1">
          <img
            [src]="product ? product.imageUrl[0] : ''"
            alt="product?.name"
          > 
        </div>
        <div class="modal-product-view-details flex-1 flex aic jcc column">
            <h2>{{product?.name}}</h2>
            <div class="modal-product-view-details-price">
                <h4>{{(product?.sold_price || 0)/100 | currency: "EURO"}}</h4>
                <del>
                    <h4>{{(product?.regular_price || 0)/100| currency: "EURO"}}</h4>
                </del>
            </div>
            <div class="modal-product-view-details-created-at">
              Créer le {{product?.created_at | date:"dd/MM/YYYY"}}
            </div>
            <div class="modal-product-view-details-button flex">
              <button 
              (click)="closeModal()"
              class="btn btn-primary flex-1">Fermer</button>
            </div> 
        </div>
    </div>
</div>
