<div class="signup">
    <div class="form-container">
        <form action="" [formGroup]="signinForm">
            <h2>Sign In</h2>
            <p class="tc">Don't have an account? if yes then click here to <a routerLink="/signup">register</a></p>
            <div class="form-line flex gap-10 wrap">

                <div class="form-line flex">
                    <input class="flex-1" type="email" [formControl]="email" name="email" placeholder="Your email please..."
                     />
                </div>
                <div class="error" *ngIf="email.dirty && !email.valid">
                    <p *ngIf="email.hasError('required')">
                       The email is required
                    </p>
                    <p *ngIf="!email.hasError('required')">
                        This email is not valid
                     </p>
                 </div>
                <div class="form-line flex">
                    <input class="flex-1" type="password" [formControl]="password" name="password" placeholder="Your password please..."
                     />
                </div>
                <div class="error" *ngIf="password.dirty && !password.valid">
                    <p *ngIf="password.hasError('required')">
                        The password is required
                     </p>
                    <p *ngIf="password.hasError('minlength')">
                       The password must be at least 6 characters
                    </p>
                 </div>
                <div class="button flex ">
                    <button class="btn flex-1" [disabled]="!this.signinForm.valid" (click)="handleSubmit()">Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>